<h3>This is the child component</h3>

<button type="button" @onclick="() => ChangeQueryStringTabValue()">Update Tab Value (via Navigation Manager)</button>
<br />
<button type="button" @onclick="() => SetQueryStringTypeViaJs()">Update Tab Value (via JS)</button>